@import 'tailwindcss';

@theme {
  --color-primray: #f75e00;
  --color-secondary: #8c5289;
  --color-blaze-orange: #f99f44;
  --color-neon-carrot: #f75e00;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* 
 fontFamily: {
        sans: ["Poppins", "sans-serif"],
      }, */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
} */
