@import 'tailwindcss';

@theme {
  --color-primray: #f75e00;
  --color-secondary: #3c0366;
  --color-button1-blaze-jafa: #f99f44;
  --color-button1-Tapestry: #b35288;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'ITCAvantGardeStdMd', sans-serif;
}

/* 
 fontFamily: {
        sans: ["Poppins", "sans-serif"],
      }, */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
} */
